<table class="table">
    <tbody>
        <tr>           
            <td>
                <span class="date">
                    
                    <big><strong>2023</strong></big><br />
                    
                    <!-- February -->
                </span>       
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <!--<img src="img/pdficon_small.png" width="12"
                        height="16" alt="PDF" /> -->
                    <a href="https://pubs.rsc.org/en/content/articlelanding/2023/sm/d3sm00915g">Microswimmers under the spotlight: interplay between agents with different levels of activity</a>.
                </span><br />
                <span class="authors">
                    C. Desgranges, M. Ferrari, P. M. Chaikin, S. Sacanna, M. E. Tuckerman, and J. Delhommelle.
                </span><br />
                <span class="venuetype"></span><span class="venue">Soft Matter ASAP (2023)</span>.
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="date"> 
                    
                    <big><strong>2022</strong></big><br />
                    
                    <!-- February -->
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <!-- <img src="img/pdficon_small.png" width="12"
                        height="16" alt="PDF" /> -->
                    <a href="https://aip.scitation.org/doi/abs/10.1063/5.0096955">Designing, synthesizing, and modeling active fluids</a>.
                </span><br />
                <span class="authors">
                    I. Essafri, B. Ghosh, C. Desgranges, J. Delhommelle.
                </span><br />
                <span class="venuetype"></span><span class="venue">Phys. Fluids 34, 071301, 2022</span>.
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="date">
                    
                    <!-- <big><strong>2022</strong></big><br /> -->
                    
                
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <!-- <img src="img/pdficon_small.png" width="12"
                        height="16" alt="PDF" /> -->
                    <a href="https://aip.scitation.org/doi/abs/10.1063/5.0083458">Entropy determination for mixtures in the adiabatic grand-isobaric ensemble</a>.
                </span><br />
                <span class="authors">
                    C. Desgranges and J. Delhommelle.
                </span><br />
                <span class="venuetype"></span><span class="venue">J. Chem. Phys. 156, 084113, 2022</span>.
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="date">
                    
                    <!-- <big><strong>2022</strong></big><br /> -->
                    
            
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                   <!-- <img src="img/pdficon_small.png" width="12"
                        height="16" alt="PDF" /> -->
                    <a href="https://www.mdpi.com/1099-4300/24/1/97">Machine-learned free energy surfaces for capillary condensation and evaporation in mesopores</a>.
                </span><br />
                <span class="authors">
                    C. Desgranges and J. Delhommelle.
                </span><br />
                <span class="venuetype"></span><span class="venue">Entropy 24, 97, 2022</span>.
                <br />
                <span class="links">
                </span>
            </td>
        </tr>

        <tr>
            <td>
                <span class="date">
                    
                    <big><strong>2021</strong></big><br />
                    
                    <!-- February -->
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <!-- <img src="img/pdficon_small.png" width="12"
                        height="16" alt="PDF" /> -->
                    <a href="https://pubs.rsc.org/no/content/articlehtml/2021/me/d0me00134a">Towards a Machine Learned Thermodynamics: Exploration of Free Energy Landscapes in Molecular Fluids, Biological Systems and for Gas Storage and Separation in Metal-Organic Frameworks</a>.
                </span><br />
                <span class="authors">
                    C. Desgranges and J. Delhommelle.
                </span><br />
                <span class="venuetype"></span><span class="venue">Mol. Syst. Eng. Des. Eng., 6, p. 52-65, 2021</span>.
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <span class="date">
                    
                    <!-- <big><strong>2022</strong></big><br /> -->
                    
                
                </span>
            </td>
            <td class="publication">
                <span class="pubtitle">
                    <!-- <img src="img/pdficon_small.png" width="12"
                        height="16" alt="PDF" /> -->
                    <a href="https://journals.aps.org/pre/abstract/10.1103/PhysRevE.103.052102">Entropy scaling close to criticality: From simple to metallic systems</a>.
                </span><br />
                <span class="authors">
                    C. Desgranges and J. Delhommelle.
                </span><br />
                <span class="venuetype"></span><span class="venue">Phys. Rev. E, 103, 052102, 2021</span>.
                <br />
                <span class="links">
                </span>
            </td>
        </tr>
        
    </tbody>
    </table>